<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="dashboard.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="service">
        <div class="max-width">
            <h1>WELCOME TO</h1>
            <h1>SECURITY ASSOCIATION (SA) DASHBOARD</h1>
            <div class="content">
                <div class="card" routerLink="/edashboard" >
                    <div class="box">
                        
                            <i class="fa fa-bullseye"></i>
                            <h3>EMPLOYEE DASHBOARD</h3>
                        
                        
                    </div>
                </div>
            
             
                <div class="card" routerLink="/resources">
                    <div class="box">
                        <i class="fa fa-file"></i>
                        <h3>DOCUMENTS OR RESOURCES</h3>
                    </div>
                </div>
                <div class="card" routerLink="/leave-management">
                    <div class="box">
                        <i class="fa fa-sign-out"  aria-hidden="true"></i>
                        <h3>LEAVE MANAGEMENT</h3>
                    </div>
                </div>
                <div class="card" routerLink="/payments">
                    <div class="box">
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                        <h3>PAYMENTS</h3>
                    </div>
                </div>
                <div class="card" routerLink="/vetting">
                    <div class="box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <h3>VETTING</h3>
                    </div>
                </div>
                <div class="card" routerLink="/catalogue">
                    <div class="box">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <h3>TRAINING AND DEVELOPMENTS</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>


